# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
Thumbs.db
.DS_Store

# Node.js
node_modules/
.env
dist/
build/
.cache/
*.log

# Ignore uploaded media files
/media/
!/media/.gitkeepbackend/db.sqlite3 


.android/

credentials.json
token.json